<div class="flex mb-3">
  <p class="text-2xl text-primary">Historial de Compras </p>
</div>


<div class=" flex flex-col w-full">
  <div class="flex justify=between items-center">
    <div class="tabs tabs-box tabs-lg text-primary w-fit gap-3">
      @for (tab of tabs; track $index) {
      <button role="tab" class="tab" [class.tab-active]="predicate === tab.value" (click)="setPredicate(tab.value)">
        {{tab.label}}
      </button>
      }
    </div>
  </div>
</div>

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>Fecha de Compra</th>
        <th>Productos</th>
        <th>Total</th>
        <th class="text-center">Status</th>
      </tr>
    </thead>
    <tbody>
      @for (venta of ventas(); track venta.id) {
      <tr>
        <th>{{venta.id}}</th>
        <td>{{venta.fechaEntrega}}</td>
        <td>{{venta.productos}} </td>
        <td>{{venta.total}}</td>
        <td class="text-center">{{venta.status? 'OK' : 'No_OK'}}</td>
        @if (accountService.adminUser()) {
        <td class="w-1/9 text-center">
          <button (click)="deleteCarrito($event, '')" class="btn btn-circle btn-ghost text-success">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
            </svg>
          </button>
        </td>
        }
      </tr>

      }


    </tbody>
  </table>
</div>